.full-width {
  width: 100%;
}
.take-width {
  width: 80%;
  margin-left: 20%;
}
.select {
  width: 30%;
  margin-right: 100%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.example-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.episode-radio-group {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
